// External min libs
@import './bootstrap.min.css';
@import './ionicons.min.css';

@import './Variables.scss';
@import './Fonts.scss';
@import './Linea.scss';
@import './Popup.scss';

/*=================================================================================
	
	Author Name	:	Rakin
	
-----------------------------------------------------------------------------------
	List of Contents
-----------------------------------------------------------------------------------
	
	01. General Styles
	
  02. Responsive CSS
  
  03. Theme CSS
	
=================================================================================*/

/*=================================================================================
	General Styles
=================================================================================*/
* {
  font-family: $font_family_1;
}

p {
  line-height: 1.6em;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  background: $color_5;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border: solid 3px $color_5;
  background: $color_10;
  &:hover {
    background: $color_7;
  }
}

.text-light {
  color: $color_1;
}

.bg {
  background: $color_7;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  &:before {
    content: ' ';
    position: absolute;
    height: 100%;
    margin-top: -260px;
    width: 600px;
    background: $color_5;
    z-index: 2;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.main-content {
  position: fixed;
  z-index: 55;
  top: 65px;
  left: 65px;
  right: 65px;
  bottom: 65px;
  background: $color_5;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.18);
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 100px;
  padding-bottom: 0;
  &:after {
    content: ' ';
    display: block;
    height: 100px;
  }
}

.section {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.show-menu .section.active {
  opacity: 0;
  visibility: hidden;
  z-index: 95;
}

.section {
  opacity: 0;
  visibility: hidden;
  z-index: 95;
  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
  }
}

.section-header {
  position: relative;
  margin-bottom: 60px;
  > {
    h2 {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0;
    }
    p {
      color: $color_2;
      font-weight: 500;
      margin: 0;
      margin-top: 3px;
    }
  }
}

a.btn-material {
  color: $color_5;
}

.btn-material {
  position: relative;
  padding: 11px 27px;
  border: solid 2px $color_7;
  background: $color_7;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: none !important;
  color: $color_5;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.14);
  }
  &.btn-secondary {
    background: $color_5;
    color: $color_1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    &:hover {
      border-color: $color_7;
      color: $color_7;
    }
  }
}

/*=================================================================================
	Responsive CSS
=================================================================================*/

@media (max-width: 992px) {
  .section {
    padding: 80px;
    padding-bottom: 0;
    &:after {
      height: 80px;
    }
  }
  .contact-info-icons {
    padding: 0;
  }
  .contact-form {
    margin-top: 60px;
  }
  .main-content {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
  }
}

@media (max-width: 600px) {
  .main-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .section {
    padding: 50px;
    padding-bottom: 0;
  }
  .section:after {
    height: 50px;
  }
}

@media (max-width: 400px) {
  .section {
    padding: 35px 20px;
    padding-bottom: 0;
  }
  .section:after {
    height: 35px;
  }
}

/*=================================================================================
	Theme CSS
=================================================================================*/
::-webkit-scrollbar-thumb:hover{
	background:$color_blue;
}
.timeline > li > .timeline-content:before,
.bg,
.menu-btn,
.menu-items > ul > li > a:hover > i,
.btn-material,
.skill > .skill-bar > .percent,
.owl-dots > .owl-dot.active > span{
	background:$color_red;
}
.portfolio-items > li > .inner > .overlay > a:hover,
.contact-info > i,
.portfolio-filters > li > a.active,
.portfolio-filters > li > a:hover,
.testimonial > .icon,
.timeline > li > .timeline-content > span,
.btn-material.btn-secondary:hover,
.intro-text > span{
	color:$color_red;
}
.form-control:focus,
.timeline > li > .timeline-content,
.timeline > li:before,
.btn-material.btn-secondary:hover,
.btn-material{
	border-color:$color_red;
}
