$color_blue: #2196F3;
$color_cyan: #00BCD4;
$color_green: #4CAF50;
$color_indigo: #3F51B5;
$color_orange: #FF5722;
$color_pink: #FF4081;
$color_purple: #9C27B0;
$color_red: #F44336;
$color_teal: #009688;

$color_1: #727272;
$color_2: rgba(0, 0, 0, 0.45);
$color_3: #202020;
$color_4: #B6B6B6;
$color_5: #FFF;
$color_6: #808080;
$color_7: #009688;
$color_8: rgba(0, 0, 0, 0.6);
$color_9: rgba(0, 0, 0, 0.4);
$color_10: #C0C0C0;

$font_family_1: Poppins, sans-serif;
