$color_1: #FFF;
$color_2: #009688;

/*=================================================================================
	Menu Button
=================================================================================*/

.menu-btn {
  position: absolute;
  height: 64px;
  width: 64px;
  line-height: 64px;
  border-radius: 50%;
  border-style: none;
  background: $color_2;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.18);
  top: 50%;
  margin-top: -32px;
  left: -32px;
  display: block;
  overflow: hidden;
  text-align: center;
  z-index: 999;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.18);
  }
  > .lines {
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 32px;
    width: 32px;
    position: relative;
    > {
      span {
        position: absolute;
        left: 0;
        display: block;
        height: 4px;
        border-radius: 2px;
        width: 32px;
        margin: auto;
        background: $color_1;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
      }
      .l1 {
        top: 5px;
      }
      .l2 {
        top: 14px;
      }
      .l3 {
        top: 23px;
      }
    }
  }
}

.show-menu .menu-btn > .lines > {
  .l2 {
    opacity: 0;
  }
  .l1, .l3 {
    top: 50%;
    margin-top: -2px;
  }
  .l1 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .l3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

/*=================================================================================
	Responsive CSS
=================================================================================*/

@media (max-width: 600px) {
  .menu-btn {
    right: 30px;
    bottom: 30px;
    top: auto;
    left: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
