$color_1: rgba(0, 0, 0, 0.45);
$color_2: #FFF;
$color_3: #009688;

/*=================================================================================
	Resume Section
=================================================================================*/

.experience-block {
  padding-top: 100px;
}

/*== Timeline Block ==*/

.timeline {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  padding: 40px 0;
  padding-left: 30px;
  &:before {
    content: ' ';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background: #F0F0F0;
  }
  > li {
    &:last-of-type {
      margin-bottom: 0;
    }
    position: relative;
    margin-bottom: 40px;
    &:before {
      content: ' ';
      position: absolute;
      height: 16px;
      width: 16px;
      border: solid 4px $color_3;
      border-radius: 50%;
      left: -37px;
      background: $color_2;
      top: 10px;
    }
    > .timeline-content {
      padding: 20px;
      position: relative;
      background: $color_2;
      border-left: solid 3px $color_3;
      -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
      &:before {
        content: ' ';
        position: absolute;
        width: 37px;
        height: 2px;
        background: $color_3;
        left: -37px;
        top: 17px;
        z-index: -1;
      }
      > {
        h4 {
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin: 0;
        }
        span {
          color: $color_3;
        }
        p {
          margin: 0;
          margin-top: 15px;
          color: $color_1;
          font-weight: 500;
        }
      }
    }
  }
}

/*== Testimonials Block ==*/

.testimonials-block {
  padding-top: 100px;
}

.testimonial {
  position: relative;
  > {
    .icon {
      font-size: 70px;
      color: $color_3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
    }
    .content {
      margin: 15px;
      margin-left: 35px;
      padding: 20px;
      padding-left: 35px;
      font-size: 14px;
      background: $color_2;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      > {
        p {
          margin: 0;
        }
        .author-info {
          margin-top: 25px;
          > {
            h4 {
              text-transform: uppercase;
              font-weight: bold;
              letter-spacing: 2px;
              margin: 0;
              font-size: 16px;
            }
            span {
              font-weight: 500;
              color: $color_1;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.owl-controls {
  margin-top: 40px;
}

.owl-dots {
  font-size: 0;
  > .owl-dot {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 10px;
    > span {
      display: block;
      height: 8px;
      width: 44px;
      background: #FAFAFA;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      transition: all .3s ease;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    &.active > span {
      background: $color_3;
    }
  }
}

/*=================================================================================
	Responsive CSS
=================================================================================*/

@media (max-width: 600px) {
  .testimonial > .icon {
    display: none;
  }
  .owl-controls {
    margin-left: 3px;
  }
  .testimonial > .content {
    margin: 3px;
  }
}