$color_1: #727272;
$color_2: rgba(0, 0, 0, 0.45);
$color_3: #FFF;

/*=================================================================================
	About Section
=================================================================================*/

/*== About Block ==*/

.about-text > p {
  margin: 0;
  font-weight: 500;
  color: $color_2;
  margin-bottom: 10px;
}

.info-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -12px;
  > li {
    padding: 13px 10px;
    background: $color_3;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    margin-top: 2px;
    &:last-of-type {
      border-color: transparent;
    }
    > {
      strong {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        margin-right: 5px;
      }
      span {
        color: $color_2;
        font-weight: 500;
      }
    }
  }
}

/*== Services Block ==*/

.services-block {
  padding-top: 100px;
}

.service {
  position: relative;
  padding: 40px 35px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    -webkit-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.14);
  }
  > {
    i {
      font-size: 0;
      text-align: center;
      &:before {
        font-size: 64px;
        line-height: 1em;
        vertical-align: middle;
      }
    }
    h4 {
      margin-top: 35px;
      margin-bottom: 25px;
      font-weight: bold;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p {
      margin: 0;
      color: $color_2;
      font-weight: 500;
    }
  }
}

/*== Skills Block ==*/

.skills-block {
  padding-top: 100px;
}

.skill {
  position: relative;
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 0;
  }
  > {
    h4 {
      margin-bottom: 8px;
      margin-top: 0;
      font-size: 1rem;
    }
    .skill-bar {
      -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
      background: #FAFAFA;
      position: relative;
      height: 12px;
      > .percent {
        height: 100%;
        width: 10%;
      }
    }
  }
}

/*== Pricing Block ==*/

.pricing-block {
  padding-top: 100px;
}

.p-table {
  position: relative;
  padding: 40px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  &:hover {
    -webkit-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.14);
  }
  > {
    .header {
      margin-bottom: 25px;
      > {
        h4 {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1rem;
          letter-spacing: 2px;
          margin: 0;
          margin-bottom: 45px;
        }
        .price {
          position: relative;
          height: 96px;
          line-height: 96px;
          > {
            span {
              display: inline-block;
              *display: inline;
              *zoom: 1;
              position: relative;
            }
            .currency {
              vertical-align: top;
              top: -22px;
              font-size: 16px;
            }
            .amount {
              font-size: 84px;
              font-weight: bold;
            }
            .period {
              vertical-align: baseline;
              color: $color_1;
              color: $color_2;
              top: -4px;
              letter-spacing: 2px;
              font-size: 12px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .items {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 35px;
      > li {
        padding: 7px 0;
        color: $color_2;
        font-weight: 500;
      }
    }
  }
}

/*=================================================================================
	Responsive CSS
=================================================================================*/

@media (max-width: 992px) {
  .info-list, .service {
    margin-bottom: 30px;
  }
  .p-table {
    margin-bottom: 30px;
  }
  .skill:last-of-type {
    margin-bottom: 40px;
  }
  div:last-of-type > {
    .skill:last-of-type, .service:last-of-type, .p-table:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 400px) {
  .p-table > .header > .price > .amount {
    font-size: 70px;
  }
}
